.card-content-2 {
  background-color: var(--color-bg);
  color: var(--color-tex);
  padding: 2rem;
  transition: all 0.5s ease-in;
}

.card-header {
  color: hsl(228, 12%, 44%);
}

.cards {
  background-color: var(--color-card-bg);
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;

  /* flex-direction: column; */
}

.cards:hover {
  cursor: pointer;
  background-color: var(--hover);
}

/* Card inter styles */

.icons img {
  width: 18px;
}

.card-inter {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.card-center {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.card-inter h3 {
  font-size: 40px;
}

.card-inter span {
  color: hsl(229, 9%, 47%);
}

.icons-note {
  display: flex;
  margin-top: 17px;
}

.icons-note img {
  object-fit: contain;
}

/* Utility color */

.icons-note span {
  color: hsl(163, 72%, 41%);
  font-size: 14px;
}

.icon-red span {
  color: hsl(356, 69%, 56%);
  font-size: 14px;
}

@media (min-width: 650px) {
  .cards-main-wrap {
    display: grid;
    grid-template-columns: auto auto auto auto;

    gap: 1rem;
  }

  .card {
    justify-content: center;
    text-align: right;
    align-items: center;
    padding: 2rem;
  }
}
